body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #0aad4f;
}

.box {
  background: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

button {
  background: #0aad4f;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #098a40;
}

.ad {
  background: #ddd;
  margin: 15px;
  padding: 25px;
  border-radius: 10px;
}

.note {
  font-size: 12px;
  color: gray;
}
