.invite {
  background: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
}

.withdraw {
  background: #ff9800;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
